@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb;
  --secondary-color: #1e40af;
  --accent-color: #f59e0b;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
